/* position을 이용한 경우 */
/* .header, .container, .footer {
    width: 700px;
}
.container {
    position: relative;
    height: 560px;
}
.section1 {
    top: 2%;
    left: 2%;
}
.section2 {
    top: 2%;
    right: 2%;
}
.section3 {
    bottom: 2%;
    left: 2%;
}
.section4 {
    bottom: 2%;
    right: 2%;
}
.container > div {
    position: absolute;
    border: 1px dashed #b2b2b2;
    padding: 1rem;
    width: 300px;
}
.footer {
    background-color: #000;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
} */

/* float 이용 */
.header, .container, .footer {
    width: 730px;
    margin: 10px auto;
}
.section {
    border: 1px dashed #b2b2b2;
    width: 320px;
    height: 200px;
    margin:10px;
    padding:10px;
    float: left;
}
.footer {
    clear: left;
    background-color: #000;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
}